@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Charm&family=Open+Sans:wght@300&family=Work+Sans&display=swap");
@import "./fonts/gilroy/stylesheet.css";
body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

.container {
  min-width: 1750px;
  padding: 0 45px;
  margin: 0 auto;
}

/* botton */
.btn {
  display: inline-block;
  padding: 10px 24px;
  color: #114455;
  font-size: 20px;
  font-weight: 800;
  border: 1px solid #114455;
  border-radius: 2px;
}

/* header */

.header {
  min-height: 100vh;
  background-color: rgb(214, 242, 233);
  background-image: url(./img/header/header-bg.jpg);
  background-size: cover;
  background-position: center center;
}

.header__top {
  padding: 44px 0;
  margin-bottom: 126px;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 118px;
}
.link {
  color: #114455;
  font-size: 20px;
  font-weight: 800;
}

/* header content */

.header__content {
  max-width: 1060px;
}

.header__title {
  margin-bottom: 48px;
  max-width: 734px;
  font-size: 80px;
  font-weight: 800;
  color: #114455;
}

.header__text {
}

.header__btn {
}
.btn {
}
