@import "./reset.css";
@import "./fonts/gilroy/stylesheet.css";

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

.container {
  min-width: 1750px;
  padding: 0 45px;
  margin: 0 auto;
}

/* botton */
.btn {
  position: relative;
  display: inline-block;
  padding: 10px 24px;
  padding-right: 72px;
  color: #114455;
  font-size: 20px;
  font-weight: 800;
  border: 1px solid #114455;
  border-radius: 2px;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}
.btn--dark {
  color: #fff;
  background-color: #114455;
}

/* header */

.header {
  min-height: 100vh;
  background-color: rgb(214, 242, 233);
  background-image: url(./img/header/header-bg.jpg);
  background-size: cover;
  background-position: center center;
}

.header__top {
  padding: 44px 0;
  margin-bottom: 126px;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 118px;
}
.link {
  color: #114455;
  font-size: 20px;
  font-weight: 800;
}

/* header content */

.header__content {
  max-width: 1060px;
}

.header__title {
  margin-bottom: 48px;
  max-width: 734px;
  font-size: 80px;
  font-weight: 800;
  color: #114455;
}

.header__text {
  margin-bottom: 72px;
  font-size: 34px;
  color: #1f1f1f;
}

.header__text p + p {
  margin-top: 1em;
}
.header__btn {
}
.btn::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("./img/icons/arrow-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.btn--big {
  padding: 14px 32px;
  padding-right: 80px;
}

.btn:hover::after {
  background-image: url("./img/icons/arrow-white.svg");
}

.btn:active {
  top: 1px;
}

.btn--dark:hover,
.btn--dark:focus {
  background-color: #000;
}

.btn:hover,
.btn:focus {
  background-color: #114455;
  color: #fff;
}
.btn--dark ::after {
  background-image: url("./img/icons/arrow-white.svg");
}
